body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 70%;
}

/* media queries para tablet y escritorio */
@media (min-width: 768px) {
    body {
        padding: 40px;
    }
}
@media (min-width: 1024px) {
    body {
        padding: 100px;
    }
}

h1 {
    color: #333;
    padding-bottom: 20px;
}

nav {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

li {
    all: unset;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
.orders {
    padding-top: 40px;
}

.orders ul {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.orders li {
    all: unset;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}